a{
    color: white;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

h4>a:hover{
    background-color: rgba(255, 255, 0, 0.349);
    border-radius: 2em;
    color: inherit
}

.nav{
    background-color: #011017;
    display: flex;
 }



.prom-var{
    margin-top: 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    word-break: break-all;
}

.dolar{
  padding: 1em;
  display:flex;
  flex-direction: column;
  max-width: 38em;
  word-break:break-word;

}

.dolar>h5{
  font-size: clamp(0.6rem, 1.5vw, 2rem);
  text-align: justify;
  margin: 1em;
  letter-spacing: 0.2em;
  font-family: 'Poppins', sans-serif;
  color: rgb(168, 162, 162)
}

.dolar>span{
  font-family: 'Titillium Web', sans-serif;
}

.banner{
  -webkit-box-shadow: 0px 6px 12px 0px rgba(8, 81, 21, 1); 
  box-shadow: 0px 6px 12px 0px rgba(8, 81, 21, 1);
  font-family: 'Titillium Web', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

h4{
    font-size: clamp(0.6rem, 1.5vw, 2rem); 
}

h3{
    font-size: clamp(0.6rem, 2.5vw, 2rem); 
}

.digital{
  font-family: 'Press Start 2P', cursive;
  color: rgb(224, 224, 224);
  text-align: end;
}




/* cuando loading es true css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
    animation: loader 1.2s linear infinite;
  }
  .bar1 {
    animation-delay: 0.1s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.3s;
  }
  .bar4 {
    animation-delay: 0.4s;
  }
  .bar5 {
    animation-delay: 0.5s;
  }
  .bar6 {
    animation-delay: 0.6s;
  }
  .bar7 {
    animation-delay: 0.7s;
  }
  .bar8 {
    animation-delay: 0.8s;
  }
  
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
      /* background: ; */
    }
    50% {
      transform: scaleY(1);
      background: yellowgreen;
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }
  