.parent{
    display: flex;
    flex-direction: row;
    /* font-family: 'Press Start 2P', cursive; */

}

.graficos{
    word-wrap: break-word;
    width: 20em;
    height: 10em;
    flex-wrap: wrap;
}

.graph-title{
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    align-self: right;
    text-align: center;
    text-shadow: -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;
}